﻿@model IEnumerable<WebApplication1.Models.Wydarzenia>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa_Wydarzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termin_Wydarzenia)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa_Wydarzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termin_Wydarzenia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID_Wydarzenia }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID_Wydarzenia }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID_Wydarzenia })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
