﻿@model WebApplication1.Models.Bilety


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rezerwacja biletu </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Table Booking Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="~/formularz/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <!-- Calendar -->
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <!-- //Calendar -->
    <link href="css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
    <!-- Time-script-CSS -->

    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>

<body>
    <h1 class="header-w3ls">
        Rezerwacja biletu
    </h1>
    <div class="appointment-w3">
        <form action="#" method="post">
            <div class="personal">

                <div class="main">
                    <div class="form-left-w3l">

                        <input type="text" class="top-up" name="name" placeholder="Imię i nazwisko" required="">
                    </div>
                    <div class="form-left-w3l">

                        <input type="email" name="email" placeholder="Email" required="">
                    </div>
                    <div class="form-right-w3ls ">

                        <input class="buttom" type="text" name="phone number" placeholder="Numer telefonu" required="">
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <div class="information">


                <div class="main">


                    <div class="form-left-w3l">
                        <input id="datepicker" name="text" type="text" placeholder="Data" required="">

                        onkeypress="return false;">
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="main">

                    <div class="form-left-w3l">
                        <select class="form-control">
                            <option value="">Lista wydarzeń</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>and more</option>
                        </select>
                    </div>
                    <div class="form-right-w3ls">
                        <select class="form-control">
                            <option value="">Liczba biletów normalnych</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>and more</option>
                        </select>
                    </div>
                    <div class="form-right-w3ls">
                        <select class="form-control">
                            <option value="">Liczba biletów ulgowych</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>and more</option>
                        </select>
                    </div>
                    <div class="form-right-w3ls">
                        <select class="form-control">
                            <option value="">Rodzaj ulgi</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>and more</option>
                        </select>

                    </div>


                    <div class="btnn">
                        <input type="submit" value="Rezerwuj">
                    </div>
        </form>
    </div>

    <!-- js -->
    <script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
    <!-- //js -->
    <!-- Calendar -->
    <script src="js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- Time -->
    <script type="text/javascript" src="js/wickedpicker.js"></script>
    <script type="text/javascript">
        $('.timepicker,.timepicker1').wickedpicker({ twentyFour: false });
    </script>
    <!-- //Time -->

</body>

</html>
